<nav class="navbar navbar-expand-sm navbar-dark bg-dark navbar-border-brand mb-4">
    <a class="navbar-brand" href="{{ path('app_start_index') }}">
        <picture>
            <source media="(min-width: 576px) and (max-width: 768px)"
                    srcset="{{ asset('build/images/archicon.svg') }} 190w">
            <img src="{{ asset('build/images/archlogo.svg') }}" height="40" alt="Arch Linux">
        </picture>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto mr-4">
            {% for route, name in {
                'app_start_index': 'Start',
                'app_packagestatistics_package': 'Packages',
                'app_funstatistics_fun': 'Fun',
                'app.swagger_ui': 'API'
            } %}
                <li class="nav-item ml-3{% if app.request and app.request.attributes.get('_route') == route %} active{% endif %}">
                    <a class="nav-link font-weight-bold" href="{{ path(route) }}">{{ name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>
