<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ _charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ asset('build/images/archicon.svg') }}" sizes="any" type="image/svg+xml">
    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <title>{% block title %}{% endblock %}{% if block('title') %} - {% endif %}pkgstats</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('css/app') }}
    {% endblock %}
    <meta name="robots" content="{% block robots %}index,follow{% endblock %}"/>
    <link rel="canonical" href="{% block canonical %}{{ absolute_url(path(
        app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params')
    )) }}{% endblock %}"/>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark navbar-border-brand mb-4">
    <a class="navbar-brand" href="{{ path('app_start_index') }}">
        <picture>
            <source media="(min-width: 576px) and (max-width: 768px)"
                    srcset="{{ asset('build/images/archicon.svg') }} 190w">
            <img src="{{ asset('build/images/archlogo.svg') }}" height="40" alt="Arch Linux">
        </picture>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto mr-4">
            {% for route, name in {
                app_start_index: 'Start',
                app_packagestatistics_package: 'Packages',
                app_modulestatistics_module: 'Modules',
                app_funstatistics_fun: 'Fun'
            } %}
                <li class="nav-item ml-3{% if app.request.attributes.get('_route') == route %} active{% endif %}">
                    <a class="nav-link font-weight-bold" href="{{ path(route) }}">{{ name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>

{% block body %}{% endblock %}

<footer class="container-fluid mt-auto py-3 text-right">
    <a href="{{ path('app_legal_privacy') }}">Privacy policy</a>
    <a href="{{ path('app_legal_impressum') }}">Impressum</a>
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('js/app') }}
{% endblock %}
</body>
</html>
