<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ _charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ asset('build/images/archicon.svg') }}" sizes="any" type="image/svg+xml">
    <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
    <title>{% block title %}{% endblock %}{% if block('title') %} - {% endif %}pkgstats</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('css/app') }}
    {% endblock %}
    <meta name="robots" content="{% block robots %}index,follow{% endblock %}"/>
    <link rel="canonical" href="{% block canonical %}{{ absolute_url(path(
        app.request.attributes.get('_route'),
        app.request.attributes.get('_route_params')
    )) }}{% endblock %}"/>
</head>
<body>
{% include "partials/header.html.twig" %}

{% block body %}{% endblock %}

{% include "partials/footer.html.twig" %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/app') }}
{% endblock %}
</body>
</html>
