{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/chartist') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/compare') }}
{% endblock %}

{% block title %}Compare Packages{% endblock %}

{% block robots %}noindex{% endblock %}

{% block body %}
    <main role="main" class="container">
        <h1 class="mb-3">Compare Packages</h1>
        <p class="mb-3">
            Relative usage of packages from {{ startMonth | slice(0, -2) }} to {{ endMonth | slice(0, -2) }}
        </p>
        <div class="embed-responsive embed-responsive-16by9">
            <div class="embed-responsive-item" id="app">
                <package-chart :packages="packages"
                               :start-month="{{ startMonth }}"
                               :end-month="{{ endMonth }}"
                               :limit="{{ limit }}">
                </package-chart>
            </div>
        </div>
    </main>
{% endblock %}
