{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('css/compare') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/compare') }}
{% endblock %}

{% block title %}Compare Packages{% endblock %}

{% block robots %}noindex{% endblock %}

{% block body %}
    <main role="main" class="container">
        <h1 class="mb-3">Compare Packages</h1>
        <p class="mb-3">
            Relative usage of packages from {{ startMonth | slice(0, -2) }} to {{ endMonth | slice(0, -2) }}
        </p>
        <div id="app" data-url-template="{{ path('app_api_package_series', {'name': '_package_', 'startMonth': startMonth, 'endMonth': endMonth, 'limit': limit}) }}"
        >
            <pkgstats-chart>
                <div class="d-flex justify-content-center mt-5">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </pkgstats-chart>
        </div>
    </main>
{% endblock %}
