{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/chartist') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/package') }}
{% endblock %}

{% block title %}{{ package }}{% endblock %}

{% block body %}
    <main role="main" class="container">
        <h1 class="mb-3">{{ package }}</h1>
        <p class="mb-3">Relative usage of {{ package }}</p>
        <div id="app">
            <package-chart :packages="['{{ package }}']" :start-month="0" :limit="0"></package-chart>
        </div>
    </main>
{% endblock %}
