{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('css/package') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/package') }}
{% endblock %}

{% block title %}{{ package }}{% endblock %}

{% block body %}
    <main role="main" class="container">
        <h1 class="mb-3">{{ package }}</h1>
        <p class="mb-3">Relative usage of {{ package }} from {{ startMonth | slice(0, -2) }}
            to {{ endMonth | slice(0, -2) }}</p>
        <div id="app"
             data-url="{{ path('app_api_package_series', {'name': package, 'startMonth': startMonth, 'endMonth': endMonth, 'limit': limit}) }}">
            <package-chart></package-chart>
        </div>
    </main>
{% endblock %}
