{% extends 'base.html.twig' %}

{% block title %}API documentation{% endblock %}

{% block robots %}noindex{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/swagger_ui') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/swagger_ui') }}
{% endblock %}

{% block body %}
    <div id="app">
        <api-doc url="{{ path('app_swagger') }}"></api-doc>
    </div>
{% endblock %}
